<h2>Book Details</h2>
<div *ngIf="book" class="container">
  <p>ID: {{ book.id }}</p>
  <div>
    <label
      >Title:
      <input type="text" [(ngModel)]="book.title" placeholder="book title" />
    </label>
  </div>
  <div>
    <label
      >Author:
      <input type="text" [(ngModel)]="book.author" placeholder="book author" />
    </label>
  </div>
  <div>
    <button (click)="goBack()">go back</button>
    <button (click)="save(book)">save</button>
    <button (click)="delete(book)">delete</button>
  </div>
</div>
<div *ngIf="!book">
  There is no Book
</div>

<!-- <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ book.title | titlecase }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      {{ book.author | titlecase }}
    </h6>

    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->
